<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h4>
    Welcome to {{title}}!
  </h4>
  </div>

<table>
<tr>
  <app-table-row></app-table-row>
</tr>
<tr>
  <app-table-row></app-table-row>
</tr>
</table>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Favorite food" value="Sushi">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave a comment"></textarea>
  </mat-form-field>
</form>


<button mat-button>CLick Me</button>



